name: release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-and-push:
    runs-on: ubuntu-24.04-16core
    strategy:
      matrix:
        profile:
          - "release"
        risczero_version:
          - "3.0.3"
        risczero_groth16_version:
          - "0.1.0"
        feature:
          - "default"
          - "cuda"
        exclude:
          - profile: "default"
            risczero_groth16_version: "0.1.0"
    permissions:
      contents: read
      packages: write
      actions: read
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build docker tag
        id: image_tag
        shell: bash
        run: |
          set -euo pipefail
          tag='${{ github.ref_name }}'
          profile='${{ matrix.profile }}'
          feature='${{ matrix.feature }}'
          
          suffix=""
          if [[ "${profile}" != "release" && -n "${profile}" ]]; then
            suffix="${suffix}-${profile}"
          fi
          
          if [[ "${feature}" != "default" && -n "${feature}" ]]; then
            suffix="${suffix}-${feature}"
          fi
                    
          echo "result=${tag}${suffix}" >> "$GITHUB_OUTPUT"
      - name: Prepare cache bucket for cache mounts
        id: crates-cache
        uses: actions/cache@v4
        with:
          path: cache-mount/${{ matrix.feature }}
          key: cargo-mount-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            cargo-mount-${{ matrix.feature }}
            cargo-mount-
      - name: Inject cache mounts
        uses: reproducible-containers/buildkit-cache-dance@5b81f4d29dc8397a7d341dba3aeecc7ec54d6361 # v3.3.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          dockerfile: ./dockerfiles/${{ matrix.feature }}.Dockerfile
          cache-dir: cache-mount/${{ matrix.feature }}
          skip-extraction: ${{ steps.crates-cache.outputs.cache-hit }}
      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          BUILDX_GIT_LABELS: 1
        with:
          context: .
          file: ./dockerfiles/${{ matrix.feature }}.Dockerfile
          build-args: |
            FEATURES=${{ matrix.feature }}
            PROFILE=${{ matrix.profile }}
            CARGO_RISCZERO_VARSION=${{ matrix.risczero_version }}
            RISCZERO_GROTH16_VERSION=${{ matrix.risczero_groth16_version }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ steps.image_tag.outputs.result }}
          push: true
          cache-to: type=gha,mode=max,scope=${{ github.repository }}-${{ matrix.profile }}-${{ matrix.feature }}
          cache-from: type=gha,scope=${{ github.repository }}-${{ matrix.profile }}-${{ matrix.feature }}
